$grid-size: 5;


.grid-container {
    background-color: $grid-bg;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    position: relative;
    margin: 2rem auto;
    font-size: clamp(40px, 6vw, 80px);

    width: calc(1em * #{$grid-size});
    height: calc(1em * #{$grid-size});
    background-image:
        linear-gradient(90deg, rgba(#FFF, .2) 1px, transparent 1px),
        linear-gradient(0deg, rgba(#FFF, .2) 1px, transparent 1px),
        linear-gradient(180deg, rgba(#FFF, .2) 1px, transparent 1px),
        linear-gradient(270deg, rgba(#FFF, .2) 1px, transparent 1px);
    background-size: 1em 1em;
}